a.social {
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
  }

  a.social:hover {
    transform: translateY(-2px);
  }

  a.youtube {
    color: #C3073F;
  }

  .hid_app {
    opacity: 0;
  }
  
  .sh_app {
    opacity: 1;
    transition: opacity 10s;
  }

  .check {
    opacity: 1;
    transition: opacity 5s;
  }
  